-@ val scrpt: String
-@ val height: String = "400"
-@ val width: String = "400"

!!! strict
html
  script(src="http://localhost:8080/cassie/c.js")
  script(src="http://localhost:8080/cassie/HashTable.js")
  script(src="http://localhost:8080/cassie/HashSet.js")
  script(src="http://localhost:8080/cassie/Error.js")
  script(src="http://localhost:8080/cassie/SymbolicWeight.js")
  script(src="http://localhost:8080/cassie/Strength.js")
  script(src="http://localhost:8080/cassie/Variable.js")
  script(src="http://localhost:8080/cassie/Point.js")
  script(src="http://localhost:8080/cassie/Expression.js")
  script(src="http://localhost:8080/cassie/Constraint.js")
  script(src="http://localhost:8080/cassie/EditInfo.js")
  script(src="http://localhost:8080/cassie/Tableau.js")
  script(src="http://localhost:8080/cassie/SimplexSolver.js")
  script(src="http://localhost:8080/cassie/Timer.js")
  script(src="http://localhost:8080/eddie/common.js")
  script(src="http://localhost:8080/eddie/helpers.js")
  script(src="http://localhost:8080/eddie/primitives.js")
  script(src="http://localhost:8080/eddie/library.js")

  script
    | #{scrpt}

  script(src="http://localhost:8080/resources/common_main.js")

  body(style="width:#{width}px; height:#{height}px;")
    div
      button(onclick="start();")
        | Start
      button(onclick="stop();")
        | Stop
      button(onclick="reset();")
        | Reset

    canvas(id="mainCanvas" style="position:absolute; z-index:0;")

    canvas(id="incCanvas" style="position:absolute; z-index:1; pointer-events:none;")

    img(id="iron" src="resources/weight.jpeg" height="400px" width="400px" style="display:none")

  script
    | document.addEventListener('DOMContentLoaded', function() { c_main();}, false);
